.animated:hover {
    -webkit-box-shadow: 10px 10px 5px -5px rgba(221,219,219,1);
    -moz-box-shadow: 10px 10px 5px -5px rgba(221,219,219,1);
    box-shadow: 10px 10px 5px -5px rgba(221,219,219,1);
}